# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
.env
.venv
env/
venv/
ENV/

# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

# =========================
# Logs
# =========================
*.log
pip-log.txt
pip-delete-this-directory.txt

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
*.ipynb_checkpoints

# =========================
# IDEs
# =========================
.idea/
.vscode/
.spyderproject/
.spyproject/
.ropeproject/

# =========================
# OS files
# =========================
.DS_Store

# =========================
# Testing / coverage
# =========================
.pytest_cache/
.hypothesis/
.coverage
htmlcov/
.tox/
.nox/

# =========================
# ML / Data files (VERY IMPORTANT FOR YOUR PROJECT)
# =========================
artifacts/
*.pkl
*.pickle
*.joblib

# =========================
# Secrets / API keys
# =========================
.env
.streamlit/secrets.toml
configs/secrets.yaml

# =========================
# Other
# =========================
.mypy_cache/
.dmypy.json
.pyre/
__pypackages__/